:root {
  --ms-color-bg-primary: #dadada;
  --ms-color-bg-secundary: #ffffff;
  --ms-color-bg-tertiary: #ff2323;

  --ms-color-font-primary: #ffffff;
  --ms-color-font-secundary: #6f6f6f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

#ms-page-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto; 
  padding-inline: 160px;
  padding-block: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

body {
  background-color: var(--ms-color-bg-primary);
}

a {
  text-decoration: none;
  color: inherit; /* herda cor do pai */
}